<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>TaskList Manager</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header class="topbar">
        <div class="container">
            <h1 class="brand">TaskList Manager</h1>
        </div>
    </header>

    <main class="container">
        {{{body}}}
    </main>



    <script src="/app.js"></script>
</body>

</html>