<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Elora Store</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/shop">Shop</a>
      <a href="/cart">Cart</a>
    </nav>

    <div class="content">
      {{{body}}}
    </div>
  </body>
</html>
